@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* globals.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

html, body {
  font-family: 'Inter', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

main {
  padding: 0;
  margin: 0;
}

/* No seu arquivo globals.css ou similar */
input {
  border-width: 1px; /* Define a largura padrão da borda */
  border-color: #d1d5db; /* Cor da borda padrão */
  transition: border-color 300ms ease; /* Transição suave apenas para a cor da borda */
}

input:focus {
  border-color: black; /* Cor da borda ao focar, similar ao azul do upload */
  outline: none; /* Remove o contorno padrão */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
